@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@500&display=swap');
/* DEFAULTS */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato';
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  line-height: 1.4;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Raleway';
}

label {
  font-size: 14px;
  font-weight: bold;
  color: rgb(54, 54, 54);
}

/* HEADER */
header {
  width: 100%;
  background: url(https://2600index.info/Links/35/2/assets-cdn.github.com/images/modules/site/heroes/simple-codelines.svg),
    #2b3137;
  color: #fff;
  height: 620px;
}

/* HEADER TOP */
.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 13px;
}

.header-top a:hover {
  color: #999;
}

/* HEADER LEFT */
.header-top .left {
  padding-right: 4%;
}
/* HEADER TOP LOGO */
.header-top .logo {
  width: 50px;
  margin: 0 20px;
}

/* HEADER TOP LEFT LINKS */
.header-top .left li {
  display: inline-block;
  margin-right: 10px;
}

.header-top .left i {
  color: #999;
}

/* HEADER TOP RIGHT */
/*TOP RIGHT INPUT */
.header-top .right input {
  padding: 10px 11px;
  background-color: rgba(116, 113, 113, 0.308);
  border-radius: 5px;
  width: 250px;
  border: 0;
}

.header-top input::placeholder {
  color: #fff;
  opacity: 0.8;
  font-size: 1rem;
}

/* HEADER TOP RIGHT LINKS */
.header-top .right a {
  margin-left: 15px;
}

.header-top .right .btn-signup {
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 9px;
  margin-right: 5px;
}

/* HEADER BOTTOM */
.header-bottom {
  width: 75%;
  margin: auto;
  height: 540px;
}

/* HEADER BOTTOM WRAPPER */
.header-bottom .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  width: 100%;
  height: 90%;
  grid-gap: 55px;
}

/* HEADER BOTTOM CONTENT */
.wrapper .bottom-content {
  align-self: center;
}

.wrapper .bottom-content h1 {
  font-size: 64px;
  margin: 0;
}

.wrapper .bottom-content p {
  font-size: 20px;
  color: hsla(0, 0%, 100%, 0.6);
}

/* HEADER BOTTOM FORM */

.wrapper form {
  width: 430px;
  margin-top: 1rem;
  background-color: #fafbfc;
  color: #000;
  border-radius: 5px;
  padding: 22px 22px 22px 22px;
  margin-left: 20px;
}

/* HEADER  BOTTOM FORM DIVS*/

.wrapper form div label,
.wrapper form div input,
.wrapper form button {
  display: block;
  width: 100%;
}

.wrapper form div input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #999;
  margin: 10px 0;
}

.wrapper form p {
  font-size: 13px;
  color: rgb(94, 94, 94);
}

.wrapper .red {
  color: red;
}

.wrapper form .blue-link {
  color: rgb(54, 128, 238);
}

.wrapper form .btn-signup-lg {
  padding: 20px 25px;
  background-color: #2ebc4f;
  cursor: pointer;
  border: 0;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 10px 0;
}

.wrapper form .btn-signup-lg:hover {
  opacity: 0.9;
}

.wrapper form p:last-child {
  margin-bottom: 0;
  margin-top: 30px;
}

/* FLYING IMAGE */

.flying-img {
  width: 100%;
  position: relative;
}
.flying-img img {
  width: 440px;
  position: absolute;
  z-index: 2;
  right: 55px;
  top: -50px;
}
/* SHOWCASE */
.showcase-box {
  width: 90%;
  margin: 110px auto 100px;
  background-color: #fff;
  box-shadow: 0px 0px 7px 2px #e7ebf0;
  padding: 4rem 4rem 4rem 3rem;
  justify-content: space-between;
}
.showcase-box p {
  color: #5f6770;
}
/* SHOWCASE BOX1 */
.showcase-box .box-1 {
  width: 360px;
}
.showcase-box .box-1 p {
  font-size: 20px;
}
.showcase-box .box-1 h1 {
  font-size: 33px;
  opacity: 0.87;
}
/* SHOWCASE BOX2 */

.showcase-box .box-2 div {
  text-align: center;
  margin-right: 20px;
  margin-left: 80px;
}
.box-2 div p {
  font-weight: 500;
  color: #5c6874;
  font-size: 14px;
  margin: 8px 0 26px;
}
.box-2 div h6 {
  margin: 8px;
  font-size: 1rem;
  font-weight: 600;
  color: #363d44;
}

.box-2 div img {
  width: 50px;
}
/* BOX-2 BUTTONS LIGHT & DARK */
.box-2 .btn-showcase {
  width: 150px;
  padding: 22px 0;
  background-color: #1074e7;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}
.box-2 .light {
  color: #1074e7;
  background-color: #fff;
  border: 1px solid #2480e9e0;
}
/* BLUE BOX */
.blue-box {
  width: 95%;
  margin: 0 auto 100px;
  background-color: #044289 !important;
  border-radius: 5px;
  color: #fff;
  padding: 1.4rem 0;
}
.blue-box .bb1 {
  display: grid;
  grid-template-columns: 1fr 5fr 3fr;
  justify-content: center;
  align-items: start;
}
/* NEW BUTTON */
.bb1 .new {
  width: 60px;
  border-radius: 10px;
  background-color: #044289;
  border: 1px solid rgb(55, 197, 11);
  color: rgb(55, 197, 11);
  text-transform: uppercase;
  align-self: flex-start;
  padding: 3px 0;
  margin: 24px 26px 0 50px;
}
/* BLUE BUTTON */
.bb1 .butt {
  width: 250px;
  align-self: center;
  justify-self: end;
  margin-right: 30px;
  padding: 1rem 1.7rem;
  background-color: rgb(49, 135, 233);
  border-radius: 5px;
  border: 0;
  color: #fafbfc;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
/* CLIENTS */
.clients {
  width: 70%;
  margin: 0 auto 100px;
  text-align: center;
  font-size: 20px;
  color: #6b737c;
  font-weight: normal;
}
.clients .client-img {
  width: 100%;
}
.clients .client-img img {
  width: 90px;
  margin: 40px 60px 20px 0;
}
.clients .client-img .small {
  width: 30px;
}
.clients .client-img .med {
  width: 73px;
}
.clients .client-img .lg {
  width: 120px;
}

/* ENTERPRISE */
.enterprise {
  width: 95%;
  text-align: left;
  margin: auto;
  margin-bottom: 100px;
}
.enterprise p {
  color: #6b737c;
  font-size: 20px;
  margin-bottom: 30px;
}

.enterprise .enter-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 20px;
  margin-bottom: 50px;
}
.enterprise .enter-box > div {
  border: 1px solid #fff;
  box-shadow: 0px 5px 5px 2px #e7ebf0;
  cursor: pointer;
}
.enterprise .enter-box img {
  width: 100%;
  border-radius: 5px;
}
.enterprise .enter-box div a,
.enterprise .enter-box div p:last-child {
  font-size: 15px;
  color: rgb(49, 135, 233);
}
.enter-box div hr {
  opacity: 0.4;
  margin: 5px 20px;
}
.enter-box div h3 {
  color: #75787c;
  margin-bottom: 0rem;
  font-weight: 500;
  font-size: 15px;
  margin-left: 10px;
}
.enter-box div p {
  margin: 10px;
  font-size: 13px;
}

.enter-box div div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 18px;
}
